<div class="container-fluid">
	<div class="container-fluid" id="home" style="text-align:center; color: #f1f1f1">
		<div>
		    <h1> MIT Undergraduate Energy Club</h1>
		    <p style="font-size: 24px;">Connecting Undergraduates with Opportunities in Energy </p>
		    <p><a href="mailto:uge-exec@mit.edu" style="color: white">Contact us at uge-exec@mit.edu </a> </p>
		    <br>
		    <br>
		</div>
	</div>
	<div class= "container-fluid margins whitebackground links" id="aboutus">
		<div class="row align-middle" style="text-align: center">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
			
  				<p>
 				</p>
				<h2> Who We Are </h2> 

				<p> The MIT Undergraduate Energy Club (known as UGE) aims to develop the next generation of leaders in energy by fostering an active community of over 50 undergraduates. We serve as a bridge between MIT undergraduates and the larger energy world, creating a network of undergraduates, faculty, alumnae, and professionals to promote opportunities in both academia and industry. From the first ever MIT Energy Career Fair to intercollegiate mixers to a research symposium, we connect over 300 students in the Greater Boston area with a shared passion for energy. </p>
			</div>
			<div class="col-sm-1">
			</div>
	
		</div>
	</div>

	<div id="committee-pictures" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#committee-pictures" data-slide-to="0" class="active"></li>
	    <li data-target="#committee-pictures" data-slide-to="1"></li>
	    <li data-target="#committee-pictures" data-slide-to="2"></li>
	    <li data-target="#committee-pictures" data-slide-to="3"></li>
	    <li data-target="#committee-pictures" data-slide-to="4"></li>
	    <li data-target="#committee-pictures" data-slide-to="5"></li>
	    <li data-target="#committee-pictures" data-slide-to="6"></li>
	    <li data-target="#committee-pictures" data-slide-to="7"></li>
	  </ol>
	  <div class="carousel-inner" role="listbox">
	    <div class="carousel-item">
	        <%= image_tag("clubmembers.jpg", alt: 'Club Members') %>
	        <div class="carousel-caption">
			    <h4>Full Team</h4>
			</div>
	    </div>
	    <div class="carousel-item active">
	    	<%= image_tag("maker-team.jpg", alt: 'Maker Team') %>
	    	<div class="carousel-caption">
			    <h4>Maker Committee</h4>
			</div>
	    </div>
	    <div class="carousel-item">
	        <%= image_tag("careerfair-team.jpg", alt: 'Career Fair Team') %>
	        <div class="carousel-caption">
			    <h4>Career Fair Committee</h4>
			</div>
	    </div>
	    <div class="carousel-item">
	        <%= image_tag("marketing-team.jpg", alt: 'Marketing Team') %>
	        <div class="carousel-caption">
			    <h4>Marketing Committee</h4>
			</div>
	    </div>
	    <div class="carousel-item">
	        <%= image_tag("freshmen-team.jpg", alt: 'Freshman Reps') %>
	        <div class="carousel-caption">
			    <h4>Freshman Reps</h4>
			</div>
	    </div>
	    <div class="carousel-item">
	        <%= image_tag("careerfair-setup.jpg", alt: 'Career Fair Setup') %>
	        <div class="carousel-caption">
			    <h4>Career Fair SetUp</h4>
			</div>
	    </div>
	    <div class="carousel-item">
	        <%= image_tag("members-social.jpg", alt: 'Members Socializing') %>
	        <div class="carousel-caption">
			    <h4>Energy Club Dinner</h4>
			</div>
	    </div>
	    <div class="carousel-item">
	        <%= image_tag("guest-speaker.jpg", alt: 'Company Info Session') %>
	        <div class="carousel-caption">
			    <h4>Company Info Session</h4>
			</div>
	    </div>

	  </div>
	  <a class="left carousel-control" href="#committee-pictures" role="button" data-slide="prev">
	    <span class="icon-prev" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#committee-pictures" role="button" data-slide="next">
	    <span class="icon-next" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

	<div class= "container-fluid links" id="committees">
		<div class="row whitebackground margins" >
			<div class="col-sm-1">
			</div>
		    <div class="col-sm-4 container-fluid" >
		    	<%= image_tag("freshmen.jpg", width: "100%", alt: 'FreshmanReps') %>
		    </div>
		    <div class="col-sm-1">
			</div>
			<div class="col-sm-5" > 

				<h2> Freshman Reps </h2> 
				<h3> Bringing enthusiasm to the executive team </h3>

				<p> We plan the New England Intercollegiate Energy Mixer, study breaks throughout the year, and an event during Campus Preview Weekend for prospective freshmen. This year, we’re also planning the first annual Undergraduate Energy Research Symposium for Spring 2017.  </p>
			</div>
			<div class="col-sm-1">
			</div>   
		</div>
		<div class="row graybackground margins" >
			<div class="col-sm-1">
			</div>
			<div class="col-sm-5 " > 
 				<h2> Marketing Committee</h2> 
				<h3> Ever wonder who is behind all of the UGE social media pages? </h3> 
				<p> We’re the Marketing Team in charge of promoting UGE to the MIT campus and greater-Boston area. Our responsibilities also include hosting professional workshops, designing club apparel, and increasing campus-wide excitement for energy! Check out our new video in December to get a better look at what UGE is all about! </p>
			</div>
			<div class="col-sm-1">
			</div>
		    <div class="col-sm-4 container-fluid" >
		    	<%= image_tag("marketing.jpg", width: "100%", alt: 'Marketing') %>
		    </div>
			<div class="col-sm-1">
			</div>
		</div>

		<div class="row whitebackground margins" >
			<div class="col-sm-1">
			</div>
		    <div class="col-sm-4 container-fluid">
			    <%= image_tag("maker.jpg", width: "90%", alt: 'Maker') %>

		    </div>
		    <div class="col-sm-1">
			</div>
			<div class="col-sm-5" > 

				<h2> Maker Committee</h2> 
				<h3> Designing and building the future </h3>

				<p> In the maker committee, we really like to design and make things. We start drafting our ideas out on a CAD software, and then we bring these ideas to life using circuits and machinery in the MIT hobby shop. Last year, we made a power generating bicycle that powered LED lights. This year, we are focusing on creating solar powered powerbanks from scratch. In addition to learning to CAD, we train in machinery, create circuits, and our members have the opportunity to be creative and design their own projects.</p>
			</div>
			<div class="col-sm-1">
			</div>   
		</div>

		
		<div class="row graybackground margins" >

		    <div class="col-sm-1">
			</div>
			<div class="col-sm-5" > 
				<h2> Gathering Committee</h2> 
				<h3> Gathering our souls </h3>

				<p> The Gathering Committee holds general body meetings open to the everyone at MIT in order to inform them about the recent events and upcoming plans of the energy club. These meetings allow all UGE members to have a chance to come together and discuss energy with their fellow peers. Energy committees can reflect on past accomplishments of the club and plan for future events. The goal of the gathering committee is to hold events that not only bring the energy club members together, but also connect them with the rest of the MIT community. </p>

			</div>
			<div class="col-sm-1">

			</div>
		    <div class="col-sm-4 container-fluid" >
		    	<%= image_tag("gathering.jpg", width: "100%", alt: 'Gathering') %>
		    </div>
			</div>
			<div class="col-sm-1">
		</div> 
		
		<div class= "row margins whitebackground" id="careerfair">
			<div class="col-sm-1">
			</div>
			
		    <div class="col-sm-4 container-fluid" >
		    	<p>
 				</p>
		    	<%= image_tag("careerfair.jpg", width: "100%", alt: 'CareerFair') %>
		    </div>

			<div class="col-sm-1">
			</div>

			<div class="col-sm-5 align-middle" > 
				<a href="http://energycf.mit.edu/" target="_blank"> <h2>Energy Career Fair</h2> </a> 
				<h3>“Started from the bottom now we’re here”- Canadian rapper Aubrey Drake Graham </h3>
				<p> A perfect quote summarizing the Energy Career Fair. Started out as a mere gathering event, it grew into a brand new career fair at MIT with over 20 company sponsors and 300 student participants in the year of 2016. This year, with a team of 15 strong, the 2017 Energy Career is going to exceed last year’s performance! The primary goal is to provide a bridge connecting students with a passion for energy to representatives in the energy industry. Wait what? Opportunities for students beside Course 6? Don’t wait, don’t hesitate, check out our committee and get updated for more information! </p>
			</div>
			<div class="col-sm-1">
			</div>
		</div>


	</div>


	<div class ="container-fluid margins whitebackground links" id="team">
		<div class="row">

			<div class="col-sm-1">
			</div>
			<div class="col-sm-3">
				<p class="positions"> Co-Presidents <p>
			</div>
			<div class="col-sm-7">
				<div class="row">

					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/rebecca-eisenach-261912115" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/rebecca.jpg", width: "100%", alt: 'Rebecca') %>
						    	</div>
						        <div class="overlay">
						            <h2>Rebecca Eisenach</h2>
						            <p>
						            	Class of 2019 <br>
						            	Materials Engineering <br> <br>
                                        Rebecca's passion for renewable energy stems from growing
                                        up next to giant wind and solar farms in Germany. She is
                                        very excited about working with solar energy in the future.
                                        In her free time she loves to travel and be adventurous!
						            </p>
						        </div>
						    </div>
					    </a>
					</div>

					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/de-xin-chen-2a445084" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/dexin.jpg", width: "100%", alt: 'DeXin') %>
						    	</div>
						        <div class="overlay">
						            <h2>De Xin Chen</h2>
						            <p>
						            	Class of 2018 <br>
						            	Materials Engineering <br> <br>
                                        De Xin is passionate about tackling the global energy and climate change problems. He had interned for the Department of Energy before in Oak Ridge National Lab. Currently, he is researching perovskite solar cell, a new generation of photovolatic device. Besides academic, he enjoys cooking, running and watching videos.    Renewable energy resources, which can help the world
						            </p>
						        </div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>

		<div class="row">

			<div class="col-sm-1">
			</div>
			<div class="col-sm-3">
				<p class="positions"> Vice Presidents <p>
			</div>
			<div class="col-sm-7">
				<div class="row">
					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/wilbur-li-89902a127" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/wilbur.jpg", width: "100%", alt: 'Wilbur') %>
						    	</div>
						        <div class="overlay">
						            <h2>Wilbur Li</h2>
						            <p>
						            	Class of 2020 <br>
						            	Mechanical Engineering with Energy <br> <br>
						Wilbur is interested in Climate Action and Clean Energy. His background focuses in engineering and quantitative analysis. He's worked in solar software and real estate finance. Wilbur is also a member of Army ROTC, Phi Sig, and SBC at MIT. He enjoys tennis, soccer, and frisbee.
						            </p>
						        </div>
						    </div>
					    </a>
					</div>
					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/allison-shepard-a7a85897" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/allie.jpg", width: "100%", alt: 'Allie') %>
						    	</div>
						        <div class="overlay">
						            <h2>Allie Shepard</h2>
						            <p>
						            	Class of 2019 <br>
						            	Chemical Engineering <br> <br>
                                        Allie is interested and passionate about the broad field
                                        of Energy and all of the potential for new solutions. She
                                        has focused on various energy-related engineering projects,
                                        from biofuels, to solar power, to aluminum fuel and more.
                                        She participated in Solar Spring Break and is also
                                        interested in how science and people can be connected.
						            </p>
						        </div>
						    </div>
					    </a>
					</div>

				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-3">
				<p class="positions"> Vice Presidents <p>
			</div>
			<div class="col-sm-7">
				<div class="row">
                    <div class="col-sm-3">
                    </div>
					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/srimayi-tenali" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/srimayi.jpg", width: "100%", alt: 'Srimayi') %>
						    	</div>
						        <div class="overlay">
						            <h2>Srimayi Tenali</h2>
						            <p>
						            	Class of 2020 <br>
						            	Mechanical Engineering with Energy <br> <br>
                                        Srimayi is excited about using engineering to address
                                        global challenges such as developing sustainably and clean
                                        energy. She is currently Managing Director of the flagship
                                        event MIT Energy Night. She is involved in research with
                                        the Varanasi Group, MIT's South Asian Association,
                                        Kappa Alpha Theta, and Baker House Exec Board.
						            </p>
						        </div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3">
                    </div>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>


		<div class="row">

			<div class="col-sm-1">
			</div>
			<div class="col-sm-3">
				<p class="positions"> Public Relations Co-Directors <p>
			</div>
			<div class="col-sm-7">
				<div class="row">
					<div class="col-sm-6">
                        <a href="https://www.linkedin.com/in/ryan-sander-44b829131/"
                         target="_blank">
						
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/ryan.jpg", width: "100%", alt: 'Ryan') %>
						    	</div>
						        <div class="overlay">
						            <h2>Ryan Sander</h2>
						            <p>
						            	Class of 2020 <br>
						            	Electrical Engineering and Computer Science <br> <br>
                                        Outside of UGE, Ryan also currently serves as the
                                        webmaster for the MIT Energy Club. His interests span
                                        topics that combine concepts from energy, EECS, and
                                        economics. In his free time, Ryan likes playing trumpet, 
                                        listening to music, and working out.
						            </p>
						        </div>
						    </div>
						</a>
					</div>



					<div class="col-sm-6">
                        <a href="https://www.linkedin.com/in/rayna-higuchi-3a557b130/"
                         target="_blank">
						
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/rayna.jpg", width: "100%", alt: 'Rayna') %>
						    	</div>
						        <div class="overlay">
						            <h2>Rayna Higuchi</h2>
						            <p>
						            	Class of 2020 <br>
						            	Civil Engineering, Math with Computer Science<br> <br>
                                        Rayna likes to learn about different solutions toward making the world a more sustainable place. Her interests include nuclear desalination, green building design, and long-term energy storage.
						            </p>
						        </div>
						    </div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>

		<div class="row">

			<div class="col-sm-1">
			</div>
			<div class="col-sm-3">
				<p class="positions"> Finance Director <p>
			</div>
			<div class="col-sm-7">
				<div class="row">
					<div class="col-sm-3">
                    </div>
					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/caitlin-keegan-b401a2129" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/caitlin.jpg", width: "100%", alt: 'Caitlin') %>
						    	</div>
						        <div class="overlay">
						            <h2>Caitlin Keegan</h2>
						            <p>
						            	Class of 2020 <br>
						            	Mechanical Engineering <br> <br>
						            	Caitlin is currently an undergraduate researcher at the MIT Institute for Data, Systems, and Society, working on lifecycle-analysis assessment for personal vehicles.She is also interested in solar cells, electric vehicles, and battery engineering.  In her free time, she enjoys hiking, reading, and exploring new cities.  
						            </p>
						        </div>
							</div>
						</a>
					</div>
					<div class="col-sm-3">
                    </div>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-3">
				<p class="positions"> Maker Directors <p>
			</div>
			<div class="col-sm-7">
				<div class="row">

					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/claire-halloran-materials-eng/" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/claire.jpg", width: "100%", alt: 'Claire') %>
						    	</div>
						        <div class="overlay">
						            <h2>Claire Halloran</h2>
						            <p>
						            	Class of 2020 <br>
						            	Materials Engineering <br> <br>
						                Claire is interested in developing materials to enable sustainable energy harvesting and storage. As a public policy minor, she is also interested in the political, social, and economic facets of clean energy.</p>
						        </div>
						    </div>
					    </a>
					</div>

					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/jackyziwenjiang" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/jacky.jpg", width: "100%", alt: 'Jacky') %>
						    	</div>
						        <div class="overlay">
						            <h2>Jacky Jiang</h2>
						            <p>
						            	Class of 2018 <br>
						            	Electrical Engineering and Computer Science<br> <br>
                                        Jacky is interested in all kinds of electronics and the
                                        working principles behind them. He likes hands-on
                                        experience with hardware. Besides UGE, he serves as
                                        president of MIT China Development Initiative and Sling \
                                        Health. During spare time, he likes sports and
                                        computer games.
                                    </p>
						        </div>
						    </div>
					    </a>
						
					</div>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>


		<div class="row">

			<div class="col-sm-1">
			</div>
			<div class="col-sm-3">
				<p class="positions"> Career Fair Directors <p>
			</div>
			<div class="col-sm-7">
				<div class="row">

					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/hilary-v-1a8493113/" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/hilary.jpg", width: "100%", alt: 'Hilary') %>
						    	</div>
						        <div class="overlay">
						            <h2>Hilary Vogelbaum</h2>
						            <p>
						            	Class of 2020 <br>
						            	Materials Engineering <br> <br>
                                        Hilary is dedicated to promoting alternative energy as a
                                        way to improve quality-of-life worldwide and for the
                                        future. Besides UGE, she works with MIT's Energy
                                        Initiative, participated in Solar Spring Break, is an
                                        Energy UROP, and is an Energy Studies Minor. She can also
                                        be found reading, writing, playing tennis, or at a Jewish
                                        event. 
						            </p>
						        </div>
						    </div>
					    </a>
					</div>

					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/hamed-mounla/" target="_blank">
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/hamed.jpg", width: "100%", alt: 'Hamed') %>
						    	</div>
						        <div class="overlay">
						            <h2>Hamed Mounla</h2>
						            <p>
						            	Class of 2020 <br>
						            	Math, Economics<br> <br>
                                        Hamed is excited about the intersection of energy and
                                        international trade / development as well as the role of
                                        energy in emerging markets. He previously
                                        worked at LIDS, where he researched integration of
                                        renewables into California’s electricity market. In his
                                        free time, he enjoys basketball and watching Formula One.
                                    </p>
						        </div>
						    </div>
					    </a>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>


		<div class="row">

			<div class="col-sm-1">
			</div>
			<div class="col-sm-3">
				<p class="positions"> Webmaster, Alumni Director <p>
			</div>
			<div class="col-sm-7">
				<div class="row">
					<div class="col-sm-3">
					</div>
					<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/meiaalsup" target="_blank">
						
						    <div class="hovereffect">
						    	<div class="img-responsiveness">
						    		<%= image_tag("team/meia.jpg", width: "100%", alt: 'Meia') %>
						    	</div>
						        <div class="overlay">
						            <h2>Meia Alsup</h2>
						            <p>
						            	Class of 2019 <br>
						            	Computer Science <br> <br>
                                        Meia is passionate about enabling solutions in sustainable 
                                        development and clean energy. She is part of the Energy 
                                        for Human Development team at MIT and is 
                                        specifically excited about energy storage, grid 
                                        reliability, and energy access. In her free 
                                        time, Meia can be found hiking, running, salsa dancing, 
                                        and learning languages.
						            </p>
						        </div>
						    </div>
						</a>
					</div>

					<div class="col-sm-3">
					</div>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>

	</div>


	<div class="container-fluid " style="text-align: center; color: black">
		<a href="https://www.facebook.com/MitUndergraduateEnergyClub/" target="_blank"> <%= image_tag("facebook.jpg", width: "2%", alt: 'fb') %> <a>
		<a href="https://twitter.com/uge_mit" target="_blank"> <%= image_tag("twitter.jpg", width: "2%", alt: 'twitter') %> <a> 
		<a href="https://www.linkedin.com/groups/8578559/profile " target="_blank"> <%= image_tag("linkedin.jpg", width: "2%", alt: 'linkedin') %> <a> 
		<a href="https://www.instagram.com/mit_ugenergy/" target="_blank"> <%= image_tag("instagram.jpg", width: "2%", alt: 'instagram') %> <a> 

		<p> © All rights reserved by the MIT Undergraduate Energy Club 2017-2018 </p>
	</div>

</div>
