	<p style="text-align: center; font-size: 40px;">Our wonderful club and committee members!</p>

	<div class ="container-fluid margins whitebackground links">
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
			
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/nagisa.jpg", width: "100%", alt: 'Nagisa') %>
				    	</div>
				        <div class="overlay">
				            <h2>Nagisa Tadjfar</h2>
				            <p>
				            	President <br>
				            	Class of 2017 <br>
				            	Materials Science, Physics
				            </p>
				        </div>
				        
				    </div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/caroline.jpg", width: "100%", alt: 'Caroline') %>
				    	</div>
				        <div class="overlay">
				            <h2>Caroline Liu</h2>
				            <p>
				            	President <br>
				            	Class of 2019 <br>
				            	Materials Science
				            </p>
				        </div>
				        
				    </div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/nagisa.jpg", width: "100%", alt: 'Nagisa') %>
				    	</div>
				        <div class="overlay">
				            <h2>Keith Phuthi</h2>
				            <p>
				            	Co-Maker Director <br>
				            	Class of 2019 <br>
				            	Physics
				            </p>
				        </div>
				        
				    </div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/caroline.jpg", width: "100%", alt: 'Caroline') %>
				    	</div>
				        <div class="overlay">
				            <h2>Nagisa Tadjfar</h2>
				            <p>
				            	President <br>
				            	Class of 2017 <br>
				            	Materials Science, Physics
				            </p>
				        </div>
				        
				    </div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/nagisa.jpg", width: "100%", alt: 'Nagisa') %>
				    	</div>
				        <div class="overlay">
				            <h2>Nagisa Tadjfar</h2>
				            <p>
				            	President <br>
				            	Class of 2017 <br>
				            	Materials Science, Physics
				            </p>
				        </div>
				        
				    </div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/nagisa.jpg", width: "100%", alt: 'Nagisa') %>
				    	</div>
				        <div class="overlay">
				            <h2>Nagisa Tadjfar</h2>
				            <p>
				            	President <br>
				            	Class of 2017 <br>
				            	Materials Science, Physics
				            </p>
				        </div>
				        
				    </div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/nagisa.jpg", width: "100%", alt: 'Nagisa') %>
				    	</div>
				        <div class="overlay">
				            <h2>Nagisa Tadjfar</h2>
				            <p>
				            	President <br>
				            	Class of 2017 <br>
				            	Materials Science, Physics
				            </p>
				        </div>
				        
				    </div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/caroline.jpg", width: "100%", alt: 'Caroline') %>
				    	</div>
				        <div class="overlay">
				            <h2>Caroline Liu</h2>
				            <p>
				            	President <br>
				            	Class of 2019 <br>
				            	Materials Science
				            </p>
				        </div>
				        
				    </div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/nagisa.jpg", width: "100%", alt: 'Nagisa') %>
				    	</div>
				        <div class="overlay">
				            <h2>Nagisa Tadjfar</h2>
				            <p>
				            	President <br>
				            	Class of 2017 <br>
				            	Materials Science, Physics
				            </p>
				        </div>
				        
				    </div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/nagisa.jpg", width: "100%", alt: 'Nagisa') %>
				    	</div>
				        <div class="overlay">
				            <h2>Nagisa Tadjfar</h2>
				            <p>
				            	President <br>
				            	Class of 2017 <br>
				            	Materials Science, Physics
				            </p>
				        </div>
				        
				    </div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				    <div class="hovereffect">
				    	<div class="img-responsiveness">
				    		<%= image_tag("team/caroline.jpg", width: "100%", alt: 'Caroline') %>
				    	</div>
				        <div class="overlay">
				            <h2>Caroline Liu</h2>
				            <p>
				            	President <br>
				            	Class of 2019 <br>
				            	Materials Science
				            </p>
				        </div>
				        
				    </div>
				</div>


			</div>

			<div class="col-sm-1">
			</div>

		</div>